body {
  /* background-color: rgba(245, 245, 220, 1); */
}

#app {
  height: 100%;
}

/*
/////////////////////////////////
BANNER
/////////////////////////////////
*/


#title {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  font-size: 5em;
  margin: 0 0 0 50%;
  color: rgba(0, 0, 0, .7);
  /* filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 1)); */
}


/*
/////////////////////////////////
BIO
/////////////////////////////////
*/


#hello {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: rgba(0, 0, 0, .9);
  width: 400px;
  margin: 5% 0 0 1%;
}


/*
/////////////////////////////////
Look Down
/////////////////////////////////
*/


#lookDown {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  gap: 10%;
  width: 20%;
  height: 200px;
  margin: 1% 0 1% 25%;
}

.arrow {
  display: inline-block;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  margin-top: 10px;
}

@keyframes fade1 {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade1 {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}

#arrow1 {
animation:fade1 3000ms infinite;
-webkit-animation:fade1 3000ms infinite;
}

@keyframes fade2 {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade2 {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}

#arrow2 {
animation:fade2 1500ms infinite;
-webkit-animation:fade2 1500ms infinite;
}

@keyframes fade3 {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade3 {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}

@keyframes point {
  50% {transform: rotate(-70deg);}
}

#arrow3 {
animation:point 3500ms infinite;
-webkit-animation:point 3500ms infinite;
}


/*
/////////////////////////////////
PROJECTS
/////////////////////////////////
*/

#projects {
  float: right;
  margin: 400px 40px 0 0;
}

.porthole {
  width: 250px;
  height: 250px;
  border: 15px solid rgba(0, 0, 0, .7);
  border-radius: 250px;
}


